<div>
  <h3>This Week's Snapshot</h3>

  <ul>
    <li>
      Touchpoints today: <%= dashboard.num_touchpoints_today %>
    </li>
    <li>
      Touchpoints this week: <%= dashboard.num_touchpoints_this_week %>
    </li>
  </ul>
</div>
