<%= render 'shared/page_title',
           page_title: 'Blog | Learn how to boost your confidence and get more sales results.' %>

<h1>StaticPages#blog</h1>
<p>Find me in app/views/static_pages/blog.html.erb</p>
