<%= render 'shared/page_title',
           page_title: 'No Before Yes | More confidence and sales results with our CRM' %>


<h1 class="display-4">A CRM for Failures</h1>
<p class="lead">
  Build confidence and exceed your sales goals with an unconventional
  customer relationship management tool.
</p>
<%= link_to 'Try it FREE',
            sign_up_path,
            class: 'btn btn-primary btn-lg' %>
