<%= render 'shared/page_title',
           page_title: 'No Before Yes | More confidence and sales results with our CRM' %>


<h1 class="display-4">A CRM for Failures</h1>
<div class="row">
  <div class="col-md-7">
    <p class="lead">
      <b>Build confidence and exceed your sales goals</b> with an unconventional
      customer relationship management tool based on the book Go for No!.
    </p>
    <%= link_to 'Try it FREE',
                sign_up_path,
                class: 'btn btn-primary btn-lg' %>
  </div>
</div>
