<%= render 'shared/page_title',
           page_title: 'How It Works | A very simple way to help you get results.' %>

<h1>StaticPages#how_it_works</h1>
<p>Find me in app/views/static_pages/how_it_works.html.erb</p>
