<%= render 'shared/page_title',
           page_title: 'No Before Yes | More confidence and sales results with our CRM' %>

<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>
