<%= render 'shared/page_title',
           page_title: 'Pricing | Try it free for 30 days then join when you are ready.' %>

<div>
  <h1>Pricing</h1>
  <p class="lead">
    Choose the plan right for you. Cancel anytime without any hassle or headaches.
  </p>
</div>

<%= render 'static_pages/pricing/subscription_plans', show_buttons: true %>
<%= render 'static_pages/pricing/common_questions' %>
