<%= render 'shared/page_title',
           page_title: 'Support | Find the help you need or get in touch with us.' %>

<h1>Support</h1>
<p class="lead">How can we help?</p>

<section>
  <h3>Contact Us</h3>
  <p>
    Have a question, comment, or issue with any of the following?
  </p>
  <ul>
    <li>I can't access my account</li>
    <li>I have a question before I sign up</li>
    <li>I want to request a feature</li>
    <li>I have a billing question</li>
    <li>I'm not receiving emails</li>
    <li>I'm confused about how something works</li>
    <li>I think something is broken</li>
    <li>Other</li>
  </ul>

  <p>
    Send us an email to <%= mail_to 'support@nobeforeyes.com' %> and we'll
    respond to you in less than a day.
  </p>
</section>
