<h1>How can we help?</h1>

<p>
  Have a question, comment, or issue with any of the following?
	<ul>
		<li>I can't access my account</li>
		<li>I have a question before I sign up</li>
		<li>I want to request a feature</li>
		<li>I have a billing quesiton</li>
		<li>I'm not receiving emails</li>
		<li>I'm confused about how something works</li>
		<li>I think something is broken</li>
		<li>Other</li>
	</ul>
</p>

<p>
	If so, you've come to the right place: send us an email to
	<%= mail_to 'support@nobeforeyes.com' %> and we'll respond to you in less than
	a day.
</p>
