<%= render 'shared/page_title',
           page_title: 'Support | How can we help you? We respond within day.' %>

<div class="pricing-header pt-md-3">
  <h1 class="display-4">Support</h1>
  <p class="lead">How can we help?</p>
</div>

<p>
  Have a question, comment, or issue with any of the following?
</p>
<ul>
	<li>I can't access my account</li>
	<li>I have a question before I sign up</li>
	<li>I want to request a feature</li>
	<li>I have a billing quesiton</li>
	<li>I'm not receiving emails</li>
	<li>I'm confused about how something works</li>
	<li>I think something is broken</li>
	<li>Other</li>
</ul>

<p>
	Send us an email to <%= mail_to 'support@nobeforeyes.com' %> and we'll respond
	 to you in less than a day.
</p>
