<%= render 'shared/page_title',
           page_title: 'Support | Find the help you need or get in touch with us.' %>

<h1>Support</h1>
<p class="lead">How can we help?</p>

<section>
  <h3>Learning Center</h3>
  <p>
    <b>What is Go for No! all about?</b>
    <br>
    It’s a philosophy &mdash; a mindset &mdash; and a strategy all rolled into
    one! You intentionally increase the number of times people say no to you
    with the ultimate goal being more yeses. Yes is the destination, but no is
    how you get there.
  </p>
  <p>
    <b>What counts as a no?</b>
    <br>
    Just because you initiate communication and don't make contact &mdash;
    whether it’s an email, text or call &mdash; this is NOT a no! The best
    rule is, a no is no. And that is it. If you’ve reached out multiple times
    and you believe the prospect understands your offer, you can count it
    as a no, but we suggest you allow at least 5-6 touchpoints before you do
    that.
  </p>
  <p>
    <b>What should we do when a prospect tells us no?</b>
    <br>
    Ideally, figure out if the no is temporary or if the prospect is simply not
    qualified for what you have to offer. If you deal with qualified prospects
    or customers, the noes are just part of the process, so put them
    back into the follow-up process.
  </p>
  <p>
    <b>
      If you want us to go after noes, how could you possibly want us to
      succeed?
    </b>
    <br>
    Success is always the ultimate goal. Do your absolute best every step of
    the way and understand you don’t get yeses in this world without going
    through (sometimes a lot of) noes along the way.
  </p>
  <p>
    <b>Does this Go for No! approach really work?</b>
    <br>
    It’s worked for countless numbers of people in every industry you can think
    of. The key is, will <i>you</i> work? Make the contacts and record your
    noes. Make your best effort. Stay positive and persistent.
  </p>
</section>

<section>
  <h3>Contact Us</h3>
  <p>
    Have a question, comment, or issue with any of the following?
  </p>
  <ul>
    <li>I can't access my account</li>
    <li>I have a question before I sign up</li>
    <li>I want to request a feature</li>
    <li>I have a billing question</li>
    <li>I'm not receiving emails</li>
    <li>I'm confused about how something works</li>
    <li>I think something is broken</li>
    <li>Other</li>
  </ul>

  <p>
    Send us an email to <%= mail_to 'support@nobeforeyes.com' %> and we'll
    respond to you in less than a day.
  </p>
</section>
