<div class="content-container">
  <div class="content bg-pink">
    <p>Hey there!</p>
    <p>
      It’s the start of a new week and we want to make sure you hit your goal of
      <%= @user.goal&.target || Goal::DEFAULT_TARGET %> noes. Sign in now to
      view the contacts you need to reach out to so you can continue to build
      your relationship with them and eventually get the results you want.
    </p>
    <%= link_to 'View my Dashboard',
                dashboard_url,
                role: 'button',
                class: 'btn btn-primary btn-lg' %>
    <p>
      Important: create touchpoints after you interact with a contact &mdash;
      it's the only way you'll remember previous conversations and know what
      next steps to take with them.
    </p>
    <p>
      If you need help with any of this, we're here for you: send us an
      email and we'll get back to you within an hour.
    </p>
    <p>
      To your success,
      <br>
      The No Before Yes Team
    </p>
  </div>
</div>
