<div class="content-container">
  <div class="content bg-pink">
    <p>Hey there!</p>
    <p>
      We’re really excited to help you exceed your sales goals. Use No Before Yes
      to stay organized with your prospects and manage follow-ups until you get
      the results you want.
    </p>
    <p>
      Create contacts, save your interactions with them, and track your weekly
      no-goals &mdash; this and more is what No Before Yes is all about. To
      learn more, visit the
      <%= link_to 'Learning Center', dashboard_url %> for some guidance.
    </p>
    <%= link_to 'Get started', dashboard_url, class: 'btn' %>
  </div>
</div>
