<div class="content-container">
  <div class="content bg-pink">
    <h1>No Before Yes</h1>
    <p>Hey there!</p>
    <p>
      We’re really excited to help you build your confidence and exceed your
      sales goals through the process of Going for No!.
    </p>
    <p>
      Create contacts, save your interactions with them, and track your weekly
      no-goals &mdash; this and more is what No Before Yes is all about.
    </p>
    <p>
      If you have any questions, comments, or concerns, email us and we’ll
      respond to you in less than three hours.
    </p>
    <%= link_to 'Get started', dashboard_url %>
    <p>
      To your success,
      <br>
      The No Before Yes Team
    </p>
  </div>
</div>
