.bg-purple { background: $purple; }
.bg-cyan { background: $cyan; }
.bg-pink { background: $pink; }
.bg-indigo { background: $indigo; }
.bg-teal { background: $teal; }
.bg-orange { background: $orange; }
