<div class="text-muted">
	<p>
		Every time you interact with a prospect or customer, keep track of what
		happened with a <em>touchpoint</em>.
	</p>
	<p>
		You need to <%= link_to 'create a contact', new_contact_path %> first so we
		know who a touchpoint belongs to.
	</p>
</div>
