<div class="text-muted">
	<p>
		When you interact with a prospect or customer, keep track of what
		happened with a <em>touchpoint</em>.

		<% if any_contacts %>
		  <%= link_to 'Create your first one now', new_touchpoint_path %>.
		<% else %>
			<p>
				You need to <%= link_to 'create a contact', new_contact_path %> first so we
				know who a touchpoint belongs to.
			</p>
		<% end %>
	</p>
</div>
