<footer class="mt-4 text-center">
	<p>
		If you need any help, we're here for you: reply to this email and we'll
		respond to you within an hour.
	</p>
	<p>
		To your success,
		<br>
		The No Before Yes Team
	</p>
	<small>
		<%= mail_to "hello@nobeforeyes.com" %>
		&middot;
		&copy; <%= Date.today.year %>
		No Before Yes
	</small>
</footer>
