<section id="contacts">
  <h1>Contacts</h1>
  <p class="lead">
    Let's create your first contact &mdash; this is the beginning of your
    customer base. Don’t worry, you can create as many contacts as you want
    later.
  </p>

  <%= render 'contacts/form',
             model: [:onboarding, contact],
             contact: contact,
             local: false %>
</section>
