<section id="contacts">
  <h1>Create your first contact.</h1>
  <p class="lead">
    This is the beginning of your online roladex.
    Don’t worry, you can create as many contacts as you want later.
  </p>

  <%= render 'contacts/form', contact: Contact.new %>

  <%= render 'next_button', next_step: :touchpoints %>
</section>
