<section id="dashboard">
  <h1>Dashboard</h1>
  <p class="lead">Timely, useful, and actionable information on a weekly basis</p>
  <p>
    Set a goal for how many noes you want to get in the current week. See which
    contacts need a follow-up, which contacts you haven’t reached out to yet,
    and contacts whose follow-up date you missed.
  </p>

  <%= link_to 'Next',
              onboarding_path(step: :finish),
              method: :put,
              remote: true,
              role: 'button',
              class: 'btn btn-primary' %>
</section>
