<section id="the-end">
	<h4>Ready to go?</h4>
	<p class="lead">
		Manage contacts, save your interactions with them, and track your weekly
		no goals.
	</p>
	<p>
	  This is what No Before Yes is all about. More importantly, we want to
		increase your sales confidence and results.
	</p>
	<p>
		We promise to do our best to make this happen.
	</p>

	<%= link_to 'Go to my Dashboard', dashboard_path, role: 'button', class: 'btn btn-primary' %>
	<%= link_to 'I still need help', support_path, role: 'button', class: 'btn btn-primary' %>
</section>
