<section>
	<h1>Thanks for giving us a chance</h1>
	<p class="lead">
		Now, let's get started.
  </p>
  <p>
		We want you to aim for noes from your potential customers rather than yeses;
		when you pitch, hopefully they tell you "No, I'm not
		interested in your product." instead of "Yes, sign me up!".
	</p>
	<p>
    This is the Go for No! approach, and yes, it sounds crazy, but you will
		understand why soon and can learn more on the Support page.
	</p>
	<p>For now, let's show you around.</p>

  <%= render 'next_button', next_step: :contacts %>
</section>
