<section>
	<h1>Thanks for giving us a chance</h1>
	<p class="lead">
		Now, let's get started.
  </p>
  <p>
		Your goal every week is to receive noes from prospects rather than yeses;
		when you pitch, hopefully they tell you "No, I'm not
		interested in your product." instead of "Yes, sign me up!".
	</p>
	<p>
    This no-quota is based on the Go for No! approach. Yes, it sounds crazy and
		feels counterintuitive, but as soon as you get onboard with this, the faster
		it is you'll get results.
	</p>
	<p>
		There is a method to this madness and you can learn more on the Support
		page.
	</p>
	<p>For now, let's show you around.</p>

  <%= render 'next_button', next_step: :contacts %>
</section>
