<section>
	<h1>Thanks for giving us a chance</h1>
	<p class="lead">
		Now, let's get started.
  </p>
  <p>
		This no-quota tracker is based on the Go for No! approach. It's built on the
		premise <i>yes is the destination, but no is how you get there</i>.
	</p>
	<p>
		Let’s face it, a lot of noes happen when prospecting and selling. (And a lot
		of interactions that simply drift away if you let them!)
	</p>
	<p>
		So, here’s what we want to help you do:
	</p>
	<ul>
		<li>
			Set a goal for the number of noes you are going to collect. (We’re sure
			you have a “yes goal”, but do you have a “no goal?”)
		</li>
		<li>
			Track your contacts by recording their information and then documenting
			your interactions with them
		</li>
		<li>
			Get reminded of the contacts you still need to reach out to or follow
			up with. (The fortune is in the follow-up, in case you’ve forgotten!)
		</li>
	</ul>
	<p>
    Yes, it sounds a little counterintuitive, but as soon as you get onboard
		with this, the faster you'll get results.
  </p>
	<p>
		There is a method to this madness and you can learn more on the Support
		page.
	</p>
	<p>For now, let's show you around.</p>

  <%= render 'next_button', next_step: :contacts %>
</section>
