<section id="touchpoints">
  <h1>Touchpoints</h1>
  <p class="lead">
    Because you now have a contact, track your interactions with them
  </p>
  <p>
    You can do this when you create a touchpoint. You'll then have a recap of
    what happened and know what next steps to take.
  </p>
  <p>
    Your future self will thank you.
  </p>

  <%= render 'onboarding/next_button', next_step: :dashboard %>
</section>
