<section id="touchpoints">
  <h1>Touchpoints</h1>
  <p class="lead">
    A way to track your interactions with each client.
  </p>
  <p>
    You'll have a history of what has happened and know what next steps to
    take with a contact.
  </p>
  <p>
    Your future self will thank you.
  </p>

  <%= render 'onboarding/next_button', next_step: :dashboard %>
</section>
