<section id="touchpoints">
  <h1>Touchpoints</h1>
  <p class="lead">
    Because you now have a contact, you can track your interactions and plan
    what to do next.
  </p>
  <p>
    Every time you interact with your contacts, create a touchpoint so you have
    a recap of what happened and know what next steps to take with this contact.
  </p>
  <p>
    Your future self will thank you.
  </p>

  <%= render 'onboarding/next_button', next_step: :dashboard %>
</section>
