<h1>Onboarding</h1>
<p>Thanks for giving us a chance &mdash; we won't let you down.</p>

<div id="onboarding">
	<section id="step-1">
		<h4>Introduction</h4>
		<p>
			No Before Yes helps you become a more confident salesperson and to increase your sales.

			Inspired by the book Go for No!, we push you to get your potential customers to tell you "No, I'm not interested in your product." instead of "Yes, sign me up!".

			It sounds crazy, but stick with us and we know you'll become a better salesperson.
		</p>
	</section>

	<section id="step-2">
		<h4>Create Your First Contact</h4>
		<p>
			To hit the ground running, fill in the details below to create your first contact.

			*creates first contact*

			(Don’t worry, you can create as many contacts as you want later!)
		</p>
	</section>

	<section id="step-3">
		<h4>All About Touchpoints</h4>
		<p>
			Every time you reach out to this contact, create a touchpoint for them so you can capture a recap/what to do next, set a date for when to follow up, and the result of the interaction. Rinse and repeat for all of the contacts you create. Your future self will thank you.
		</p>
	</section>

	<section id="step-4">
		<h4>Dashboard</h4>
		<p>
			Here is where we present timely, useful, and actionable information on a weekly basis so you don’t ever get off track. Set a goal for how many noes you want to get in the current week. See which contacts need a follow-up, which ones you haven’t reached out to yet, and contacts whose follow-up date you missed.
		</p>
	</section>

	<section id="step-5">
		<h4>The End</h4>
		<p>
			You made it to the end! If you want to learn more about No Before Yes, head over to the Support page for how-to guides, a product tour, and a contact-us form.

			Go to my Dashboard >>

			Check out the Support page >>
		</p>
	</section>
</div>
