<div class="mb-5">
	<div class="row">
	  <div class="col-4 col-md-3 mb-3">
	    <div class="text-center bg-primary text-white" style="font-size: 5rem;">
	      <%= fa_icon 'book-reader' %>
	    </div>
	  </div>
	  <div class="col-8 col-md-5">
	    <h3>
	      <%= link_to titleize('nothing seemed to change, until i reread go for no! 4 years later'),
				    blog_august_28_nothing_seemed_to_change_four_years_later_path %>
	    </h3>
	  </div>
	</div>
</div>
