<div class="text-center bg-primary text-white mb-3" style="font-size: 5rem;">
	<%= fa_icon 'book-reader' %>
</div>
<h3>
	<%= titleize('nothing seemed to change, until i reread go for no! 4 years later') %>
</h3>
<p>August 28th, 2020</p>

<p>
	Almost ten years ago I started to work for a Wall Street firm, which lasted
	over three years before I jumped ship to entrepreneurship. I had this idea to
	create an app to help build people’s vocabulary. It took a while (too long) to
	decide to target this app specifically towards students who struggle with
	literacy and so my goal was to reach out to principals, make my pitch, and
	hope they would pilot and then buy this product for their school.
</p>
<p>
	I found a  map of schools online and took a screenshot of it, put markers on
	the schools I’d visit in my area, and one by one went to each by bike. Walked
	in, went to the main office, and asked to speak to the principal so I could
	explain what my app does and how it could benefit their students. Sometimes
	the principal was busy in a meeting (go figure), away from the school, or just
	wasn’t interested. Rinse and repeat for dozens of schools and it felt like I
	didn’t know what I was doing and I started to lose hope and question it all.
</p>
<p>
	Sales wasn’t something I had explicitly done before. I really enjoyed the
	conversations with potential customers and of course loved to talk about the
	benefits of my product, but I just didn’t get any meaningful results. At this
	point, I realized I should read a how-to sales book. I went on Amazon,
	searched around, and this book Go for No! caught my attention because of its
	really strong ratings and reviews. As soon as I started to read it, I couldn’t
	put it down. Because of the way it was written, Go for No! didn’t feel like I
	was reading a sales book, yet I felt like I had just received the best sales
	advice out there. Just like that, I suddenly couldn’t wait to continue my
	chase to lock down customers.
</p>
<p>
	...
</p>
<p>
	Long story short, my runway ran out (it had been almost two years since I had
	earned income) and after a pivot, I decided to officially stop to pursue this
	idea. Fast forward a few years and I find myself in a similar position:
	excited about a new startup idea and needing to get vendors to sign up for
	this marketplace. Cold call after cold call, email after email, the results
	just weren’t what we hoped. “What am I doing wrong?” “Does the idea suck?”
	“I’m starting to lose hope.” “I know I should be making calls, but I’ll make
	them tomorrow for sure.” Sound familiar?
</p>
<p>
	Nothing seemed to change: this was me four years ago. And just like back then,
	I picked up Go for No! and was reminded of the enormous, life-changing
	possibilities if only I viewed the chase, the sales process a little
	differently. Once again it felt like a genie just snapped their finger and all
	of the concerns and fears I had just disappeared. They were instead replaced
	with unwavering hope and a hunger to get back out there.
</p>
<p>
	All of this from a book less than 100 pages? Yup. Too good to be true? Nah:
	thousands upon thousands of readers have thought the same. If you’ve had
	similar experiences, you have to read Go for No!. After you finish, let’s
	chat.
</p>
<p>
	To your success,
	<br>
  Danelson
</p>

<div class="mb-3">
	<%= link_to 'Read another blog post', blog_path %>
</div>
