<%= render 'shared/page_title',
           page_title: 'Blog | Learn how to boost your confidence and get more sales results.' %>

<h1>Blog</h1>
<p class="lead mb-5">
  Join the discussion and get tips on how to build your confidence and exceed
  your sales goals. We publish new posts at least once a week &mdash;
  <%= link_to 'subscribe now', support_path %> and we'll email the goods to you
  directly.
</p>

<%= render 'published_posts' %>
<%= render 'upcoming_posts' %>
