<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/navbar/navbar' %>

    <div class="container">
      <%= render 'layouts/flashes' %>

      <%= yield %>
    </div>
  </body>
</html>
