<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <div id="onboarding-progress-bar" class="mb-5">
      <%= render 'onboarding/progress_bar' %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
