<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <div>
      <%= yield %>
      <%= render 'mailers/footer' %>
    </div>
  </body>
</html>
